<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"">
    <title>Less than Five</title>
</head>
<body>
    <div class="container">
        <header>
            <div class="jumbotron jumbotron-fluid">
                <div class="container">
                    <h1>Training -  OSF</h1>
                    <blockquote class="blockquote text-right">
                        <p class="mb-0">"Enthusiasm is the greatest strength of the soul. Keep it and you will never lack of the power to get what you want. "</p>
                        <footer class="blockquote-footer"><cite title="Source Title">Napoleon Hill</cite></footer>
                    </blockquote>
                </div>
            </div>
        </header>
        <!-- nav -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="/">Home |</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/oddOrEven/4">Odd or Even</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/random">Random</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/lessThanFive/2">Less than 5</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/array">Array</a>
                    </li>
                </ul>
            </div>
        </nav>
        
        <h1>The number <%=number%> is less than 5</h1>

        <small>You can change the number on url</small>
        <!-- footer -->
        <footer class="footer-copyright text-center py-3">
            All rights reserved &copy; - Isaac James 2018
        </footer>
    </div>
</body>